# Filtrar Datos

In [2]:
import pandas as pd
datos = {
    "pais":["Estados Unidos", "China", "Brasil", "India", "México"],
    "km2":[9833517, 9600000, 8515767, 3287263, 1960000]
}
#crear dataframe
paises = pd.DataFrame(datos)
paises

             pais      km2
0  Estados Unidos  9833517
1           China  9600000
2          Brasil  8515767
3           India  3287263
4          México  1960000

# ¿Cómo filtrar datos?

In [4]:
filtro = [True, False, False, False, True]
filtro
type(filtro)
paises[filtro]

             pais      km2
0  Estados Unidos  9833517
4          México  1960000

#### Crear filtro para países con superficie mayor a 3287263 km^2 (aplicas el filtro y lo guardas en una variable para despues mostrarlo)

In [6]:
filtro = paises['km2'] > 3287263
filtro

0     True
1     True
2     True
3    False
4    False
Name: km2, dtype: bool

#### Filtrar países con superficie mayor a 3287263 km^2, pero también se puede aplicar directamnete sin usar una variable

In [8]:
#paises[filtro]
paises[paises['km2'] > 3287263]

             pais      km2
0  Estados Unidos  9833517
1           China  9600000
2          Brasil  8515767

#### Crear DataFrame a partir de datos_paises.csv, el # es para indicar el indice

In [11]:
paises = pd.read_csv('datos_paises.csv', index_col=0)
paises

                            continente        km2  poblacion_miles
pais
China                             Asia  9600000.0          1409517
India                             Asia  3287263.0          1339180
United States of America       America  9833517.0           324460
Indonesia                         Asia  1910931.0           263991
Brazil                         America  8515767.0           209288
...                                ...        ...              ...
Saint Helena                    Africa      308.0                4
Falkland Islands (Malvinas)    America    12173.0                3
Niue                           Oceania      260.0                2
Holy See                        Europa        1.0                1
Tokelau                        Oceania       12.0                1

[229 rows x 3 columns]

### Seleccionando países de extensión pequeña
#### Crear filtro para países con superficie menor a 50 km^2

In [37]:
filtro = (paises ['km2']>50 )
filtro
paises[filtro]

                            continente        km2  poblacion_miles
pais
China                             Asia  9600000.0          1409517
India                             Asia  3287263.0          1339180
United States of America       America  9833517.0           324460
Indonesia                         Asia  1910931.0           263991
Brazil                         America  8515767.0           209288
...                                ...        ...              ...
Saint Pierre and Miquelon      America      242.0                6
Montserrat                     America      103.0                5
Saint Helena                    Africa      308.0                4
Falkland Islands (Malvinas)    America    12173.0                3
Niue                           Oceania      260.0                2

[219 rows x 3 columns]

#### Filtrar países con superficie menor a 50 km^2

In [39]:
filtro = (paises ['km2']<50 )
filtro
paises[filtro]

                                 continente   km2  poblacion_miles
pais
China, Macao SAR                       Asia  30.0              623
Sint Maarten (Dutch part)           America  34.0               40
Monaco                               Europa   2.0               39
Gibraltar                            Europa   6.0               35
Bonaire, Sint Eustatius and Saba    America   1.0               25
Nauru                               Oceania  21.0               11
Tuvalu                              Oceania  26.0               11
Holy See                             Europa   1.0                1
Tokelau                             Oceania  12.0                1

### Seleccionando países pequeños pero altamente poblados
#### Países con superficie menor a 50 km^2 y población mayor 500

In [31]:
filtro = (paises ['km2']<50 ) & (paises['poblacion_miles']>500)
filtro
paises[filtro]

                 continente   km2  poblacion_miles
pais
China, Macao SAR       Asia  30.0              623

### Seleccionando países muy pequeños ó poco poblados
#### Países con superficie menor a 5 km^2 ó con población menor a 5

In [45]:
filtro = (paises ['km2']<5 ) | (paises['poblacion_miles']<5)
filtro
paises[filtro]

                                 continente      km2  poblacion_miles
pais
Monaco                               Europa      2.0               39
Bonaire, Sint Eustatius and Saba    America      1.0               25
Saint Helena                         Africa    308.0                4
Falkland Islands (Malvinas)         America  12173.0                3
Niue                                Oceania    260.0                2
Holy See                             Europa      1.0                1
Tokelau                             Oceania     12.0                1

### Seleccionando países pequeños, poco poblados y europeos
#### Países europeos con superficie menor a 50 km^2 y con población menor a 50

In [49]:
filtro = (paises ['km2']<50 ) & (paises['poblacion_miles']<50) & (paises['continente']== 'Europa')
filtro
paises[filtro]

          continente  km2  poblacion_miles
pais
Monaco        Europa  2.0               39
Gibraltar     Europa  6.0               35
Holy See      Europa  1.0                1

### Seleccionando países pequeños, poco poblados y no europeos
#### Países no europeos con superficie menor a 50 km^2 y con población menor a 50

In [57]:
#filtro = (paises ['km2']<50 ) & (paises['poblacion_miles']<50) & (paises['continente']!= 'Europa')
filtro = (paises ['km2']<50 ) & (paises['poblacion_miles']<50) & ~(paises['continente']== 'Europa')
filtro
paises[filtro]

                                 continente   km2  poblacion_miles
pais
Sint Maarten (Dutch part)           America  34.0               40
Bonaire, Sint Eustatius and Saba    America   1.0               25
Nauru                               Oceania  21.0               11
Tuvalu                              Oceania  26.0               11
Tokelau                             Oceania  12.0                1