# Limpieza Netflix

In [2]:
# Importar librerías
import pandas as pd 
import matplotlib.pyplot as plt

#importar 
import seaborn as sns

In [3]:
# Lectura
df = df = pd.read_csv("netflix_titles.csv")
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
# Veamos las variables categóricas y las numéricas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [5]:
#utilizar el show_id
#df_netflix = pd.read_csv()

## Identificar filas duplicadas

## Tratamiento de la data faltante

### Analizar la data faltante

In [9]:
# Mostrar solo columnas con valores faltantes
for col in df.columns:
    faltante = df[col].isnull().sum()
    if faltante > 0:  # Solo muestra si hay datos faltantes
        porcentaje = (faltante / len(df)) * 100
        print(f"Columna: {col} | Filas faltantes en columna {col}: {faltante} | Porcentaje: {porcentaje:.2f}%")

Columna: director | Filas faltantes en columna director: 2634 | Porcentaje: 29.91%
Columna: cast | Filas faltantes en columna cast: 825 | Porcentaje: 9.37%
Columna: country | Filas faltantes en columna country: 831 | Porcentaje: 9.44%
Columna: date_added | Filas faltantes en columna date_added: 10 | Porcentaje: 0.11%
Columna: rating | Filas faltantes en columna rating: 4 | Porcentaje: 0.05%
Columna: duration | Filas faltantes en columna duration: 3 | Porcentaje: 0.03%

In [44]:
#Eliminar la columna con datos faltante, en este caso director 
#cuando axis = 0 indica que quieres trabajar en una fila
#cuando axis = 1 indica que quieres trabajar en una columna
#df.drop('director', axis=1)

#Eliminar las filas en donde hace falta en dato en la columna director
#Mostrar que filas de la columna tienen nulo
df[df['director'].isnull()]
#index_nulos = df[df['director'].isnull()].index
#df.drop(index_nulos, axis=0, inplace = True)
#df.loc['s2']

KeyError: 's2'

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [12]:
#Uso dropna -- sirve para borra filas de una columna
df.dropna(subset='director')
df.dropna(subset='director').isnull().sum() #contar al momento

show_id           0
type              0
title             0
director          0
cast            473
country         422
date_added        0
release_year      0
rating            1
duration          3
listed_in         0
description       0
dtype: int64

## Para guardar, recuerda usar el inplace = True

In [14]:
# Vamos a reemplazar los valores nulos 'unknown'(desconocido)
#df.fillna({'director': 'unknown'}, inplace = True) -- este funciona bien
#df['director']=df['director'].fillna('unknown')

In [19]:
#Rellenar datos con valores
#Duration
print('Valores faltantes o nulos en la columna duration', df['duration'].isnull().sum())
#df['duration'] = df['duration'].fillna(0)
df[df['duration'].isnull()]

Valores faltantes o nulos en la columna duration 3

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi..."
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,84 min,NaN,Movies,Emmy-winning comedy writer Louis C.K. brings h...
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...

In [15]:
#Invertir los valores de la columna raaating a duration (estan invertidos lso datos)
print('Valores faltantes o nulos en la columna duration', df['duration'].isnull().sum())
valor1= df['duration'].isnull()
df.loc[valor1, ['rating', 'duration']]= df.loc[valor1, ['duration', 'rating']].values
print('Valores faltantes o nulos en la columna duration', df['duration'].isnull().sum())

Valores faltantes o nulos en la columna duration 3
Valores faltantes o nulos en la columna duration 0

In [48]:

# valores nulos con 'rating'
print('Valores faltantes o nulos en la columna rating', df['rating'].isnull().sum())

#subniveles de rating
df['rating'].unique()

#valor que más se repite en la columan moda
#obtener la moda de la columna 'rating'
df['rating'].mode()
moda="".join(df['rating'].mode())

#rellenas los datos faltantes de la columna 'rating'
df.fillna({'rating':moda}, inplace=True)

Valores faltantes o nulos en la columna rating 7

In [50]:
print('Valores faltantes o nulos en la columna rating', df['rating'].isnull().sum())

Valores faltantes o nulos en la columna rating 0