In [1]:
#import pandas
import pandas as pd

In [3]:
# leyendo el archivo csv
df = pd.read_csv("StudentsPerformance.csv")

# Seleccionar 1 columna

## Syntax 1

In [7]:
# seleccionar una columna con [] (forma preferida de seleccionar una columna)
df['gender']
df['lunch']

0          standard
1          standard
2          standard
3      free/reduced
4          standard
           ...
995        standard
996    free/reduced
997    free/reduced
998        standard
999    free/reduced
Name: lunch, Length: 1000, dtype: object

In [9]:
# revisar el tipo de data de una columna
type(df['gender'])

pandas.core.series.Series

In [23]:
# series: atributos y metodos
df['gender'].index
df['gender'].tail()
df['gender'].head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object

## Syntax 2

In [31]:
# seleccionar una columna con .
df.lunch
df.lunch.tail() #seleccionar la columna y mostrar los ultimos 5
df.lunch.tail(20) #seleccionar la columna y mostrar los ultimos 20
df.lunch.head(5) #seleccionar la columna y mostrar los primeros 5

0        standard
1        standard
2        standard
3    free/reduced
4        standard
Name: lunch, dtype: object

In [35]:
# seleccionar una columna con . (errores que encontraras)
df.columns
df['math score']

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [8]:
# seleccionar la misma columna con []

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64